<%
const getTexts = name => {
  switch(name) {
    case 'imhomovies':
      return {
        title: 'Categorias',
        slug: 'filmes'
      }
    case 'sonusetrhythmus':
      return {
        title: 'Categorias',
        slug: 'artistas'
      }
    case 'saborinstintivo':
      return {
        title: 'Categorias',
        slug: 'receitas'
      }
    case 'jornadarelevante':
      return {
        title: 'Categorias',
        slug: 'jornadas'
      }
    case 'noobdaera8bits':
      return {
        title: 'Categorias',
        slug: 'jogos'
      }
    case 'videos':
      return {
        title: 'Categorias',
        slug: 'videos'
      }
    case 'profile':
      return {
        title: 'Preferências',
        slug: 'resultados'
      }
    case 'following':
      return {
        title: 'Categorias',
        slug: 'resultados'
      }
    case 'github':
      return {
        title: 'Categorias',
        slug: 'projetos'
      }
    case 'design':
      return {
        title: 'Categorias',
        slug: 'artes'
      }
    default:
      return {
        title: 'Categorias',
        slug: 'artigos'
      }
  }
};
const content = getTexts(projectName);
%>
<div class="categories">
  <h3 class="categories-title">
    <strong class="categories-title-count"><%= page.posts.length %> <%- content.slug %></strong> <%- content.title %>
  </h3>
  <ul class="categories-list">
    <% site.categories.sort('name').map(category => {
      const icon = category.name.replace(/ /g, '').toLowerCase()
      const name = category.name.toLowerCase();
      const removeName = projectName === 'profile' ? 'dailylog' : '';
    %>
      <% if (!category.parent && name !== removeName) { %>
        <li class="categories-item">
          <a href="<%- url_for(category.path) %>" class="categories-link">
            <svg width="16" height="16"><use xlink:href="#<%- icon %>" /></svg>
            <%- name %>
            <span class="categories-count"><%= category.posts.length %></span>
          </a>
        </li>
      <% } %>
    <% }) %>
  </ul>
</div>
