<header class="header" role="banner">
  <button class="button-menu_main js-menu-trigger">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 448"><path d="M0 48h448v96H0V48zm0 128h448v96H0v-96zm0 128h448v96H0v-96z"/></svg>
    <span class="button-menu_main-text">Menu</span>
  </button>
  <div class="header-top">
    <div class="container">
      <div class="header-elements">
        <nav class="supportMenu" role="navigation">
          <ul class="supportMenu-list">
            <li class="supportMenu-item">
              <a class="supportMenu-link js-scroll" data-target="body">
                <span class="supportMenu-text"><%= __('menu_accessibility.content') %></span>
              </a>
            </li>
            <li class="supportMenu-item">
              <a class="supportMenu-link js-scroll" data-target="header-bottom">
                <span class="supportMenu-text"><%= __('menu_accessibility.main_menu') %></span>
              </a>
            </li>
          </ul>
        </nav>

        <nav class="socialMenu" role="navigation">
          <% if (theme.mainmenu) { %>
          <ul class="socialMenu-list" aria-label="Menu secundário">
            <% for (let item in theme.mainmenu) { %>
              <li class="socialMenu-item">
                <a class="socialMenu-link" href="<%= theme.mainmenu[item].url %>">
                  <span class="socialMenu-text"><%= theme.mainmenu[item].label %></span>
                </a>
              </li>
            <% } %>
          </ul>
          <% } %>
          <ul class="socialMenu-list socialMenu-list--second" aria-label="Menu de mídias sociais">
            <% for (let item in theme.socialmenu) { %>
              <li class="socialMenu-item">
                <a class="socialMenu-link" href="<%= theme.socialmenu[item].url %>" target="_blank">
                  <%- theme.socialmenu[item].svg %>
                </a>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-elements">
        <h1 class="logotype">
          <a class="logotype-link" href="<%= __('logotype.url') %>" rel="home" aria-describedby="a-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="28.77" viewBox="0 0 500 449.6">
              <path d="M170.2 219.7V20.6c0-5.6 2.6-8.2 7.8-7.8 24.9 1.9 37.4 2.8 62.3 4.7 5 .4 7.6 3.3 7.6 8.7v321c0 5.4-2.5 8.3-7.6 8.6-35.7 2.4-53.6 3.6-89.3 5.8-5.2.3-8.6-2.3-10.4-7.8-21.5-67.9-42.4-136-63-204.2v207.9c0 5.8-2.5 8.8-7.5 9.1-24.9 1.5-37.4 2.3-62.3 3.7-5.2.3-7.8-2.5-7.8-8.5V8.4C0 2.4 2.6-.3 7.8 0c35.9 2.7 53.8 4 89.7 6.7 5.2.4 8.6 3.5 10.4 9.3 20.3 68.1 41 135.9 62.3 203.7z"/>
              <path d="M352.4 368.5c.2 4 2.3 6 6.3 6H491c6 0 9 3 9 9v57c0 6-3 9-9 9H346.9c-23.3 0-43.3-8.3-59.8-24.8s-24.8-36.4-24.8-59.8V159c0-23.3 8.3-43.3 24.8-59.8s36.4-24.8 59.8-24.8H491c6 0 9 3 9 9v57c0 6-3 9-9 9H358.7c-4 0-6.1 2-6.3 6v213.1z"/>
            </svg>
            <span class="hide" id="a-logo"><%= __('logotype.description') %></span>
          </a>
        </h1>
        <nav class="mainMenu" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
          <meta itemprop="about" content="Menu Principal" />
          <ul class="mainMenu-list" id="mainMenu" aria-label="Menu principal">
            <% for (const item in theme.blogmenu) { %>
              <li class="mainMenu-item">
                <a class="mainMenu-link <%= theme.blogmenu[item].slug === projectName ? 'on' : ''%>" href="<%= theme.blogmenu[item].url %>" itemprop="url">
                  <%- theme.blogmenu[item].label %>
                  <span class="hide" itemprop="name"><%- theme.blogmenu[item].name %></span>
                </a>
                <% if (projectName === theme.blogmenu[item].slug) { %>
                  <button class="search-button search-button--desktop" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="263.357 349.874 100 100"><path d="M332.588 392.182c0-7.412-2.634-13.752-7.903-19.02s-11.608-7.903-19.02-7.903c-7.413 0-13.753 2.633-19.022 7.9-5.268 5.27-7.902 11.61-7.902 19.022s2.635 13.752 7.903 19.02c5.27 5.27 11.61 7.903 19.02 7.903 7.413 0 13.753-2.634 19.022-7.902s7.903-11.61 7.903-19.02zm30.77 50c0 2.083-.762 3.887-2.285 5.41-1.522 1.52-3.325 2.282-5.41 2.282-2.163 0-3.965-.762-5.408-2.283l-20.613-20.553c-7.172 4.97-15.165 7.452-23.98 7.452-5.728 0-11.207-1.112-16.435-3.336-5.23-2.224-9.736-5.23-13.522-9.015s-6.79-8.294-9.014-13.522-3.334-10.707-3.334-16.437 1.112-11.207 3.335-16.436 5.23-9.735 9.015-13.52 8.293-6.792 13.522-9.015c5.228-2.225 10.707-3.336 16.436-3.336 5.73 0 11.208 1.112 16.437 3.335 5.228 2.223 9.735 5.227 13.52 9.013s6.792 8.293 9.016 13.52c2.223 5.23 3.335 10.708 3.335 16.438 0 8.815-2.483 16.808-7.45 23.98l20.612 20.613c1.484 1.483 2.225 3.286 2.225 5.41z"/></svg>
                  </button>
                <% } %>
              </li>
            <% } %>
          </ul>
          <%
            var isCurrent = (path) => path === `/${page.path.replace('index.html', '')}`;
          %>
          <ul class="mainMenu-list mainMenu-list--other">
            <li class="mainMenu-item">
              <a class="mainMenu-link <%= projectName === 'principal' && page.layout === 'index' ? 'on' : ''%>" href="<%= __('menu_site.home.url') %>" itemprop="url">
                <span class="mainMenu-text" itemprop="name"><%= __('menu_site.home.name') %></span>
              </a>
            </li>
            <li class="mainMenu-item">
              <a class="mainMenu-link <%= projectName === 'profile' ? 'on' : ''%>" href="<%= __('menu_site.profile.url') %>" itemprop="url">
                <span class="mainMenu-text" itemprop="name"><%- __('menu_site.profile.name') %></span>
              </a>
            </li>
            <li class="mainMenu-item">
              <a class="mainMenu-link <%= projectName === 'design' ? 'on' : ''%>" href="<%= __('menu_site.design.url') %>" itemprop="url">
                <span class="mainMenu-text" itemprop="name"><%- __('menu_site.design.name') %></span>
              </a>
            </li>
            <li class="mainMenu-item">
              <a class="mainMenu-link <%= projectName === 'github' ? 'on' : ''%>" href="<%= __('menu_site.github.url') %>" itemprop="url">
                <span class="mainMenu-text" itemprop="name"><%= __('menu_site.github.name') %></span>
              </a>
            </li>
            <li class="mainMenu-item">
              <a class="mainMenu-link <%= projectName === 'following' ? 'on' : ''%>" href="<%= __('menu_site.following.url') %>" itemprop="url">
                <span class="mainMenu-text" itemprop="name"><%= __('menu_site.following.name') %></span>
              </a>
            </li>
            <li class="mainMenu-item">
              <a class="mainMenu-link <%= projectName === 'videos'  ? 'on' : ''%>" href="<%= __('menu_site.videos.url') %>" itemprop="url">
                <span class="mainMenu-text" itemprop="name"><%= __('menu_site.videos.name') %></span>
              </a>
            </li>
            <li class="mainMenu-item--spacing">|</li>
            <li class="mainMenu-item">
              <a class="mainMenu-link <%= isCurrent(__('menu_site.sitemap.url'))  ? 'on' : ''%>" href="<%= __('menu_site.sitemap.url') %>" itemprop="url">
                <span class="mainMenu-text" itemprop="name"><%= __('menu_site.sitemap.name') %></span>
              </a>
            </li>
            <li class="mainMenu-item">
              <a class="mainMenu-link <%= isCurrent(__('menu_site.styleguide.url'))  ? 'on' : ''%>" href="<%= __('menu_site.styleguide.url') %>" itemprop="url">
                <span class="mainMenu-text" itemprop="name"><%= __('menu_site.styleguide.name') %></span>
              </a>
            </li>
            <li class="mainMenu-item">
              <a class="mainMenu-link <%= isCurrent(__('menu_site.privacy_policy.url'))  ? 'on' : ''%>" href="<%= __('menu_site.privacy_policy.url') %>" itemprop="url">
                <span class="mainMenu-text" itemprop="name"><%= __('menu_site.privacy_policy.name') %></span>
              </a>
            </li>
            <%# if (projectName === 'main' || projectName === 'github' || projectName === 'profile' || projectName === 'following' || projectName === 'videos') { %>
            <!--<li class="mainMenu-item mainMenu-item--full">
              <a id="js-flag-pt" class="mainMenu-link mainMenu-link--flag pt-br <%= page.lang === 'pt-br' ? 'on' : '' %>" href="/" itemprop="url"></a>
              <a id="js-flag-en" class="mainMenu-link mainMenu-link--flag en-us <%= page.lang === 'en-us' ? 'on' : '' %>" href="/en/" itemprop="url" onclick="handleClick()"></a>
              <a id="js-flag-cn" class="mainMenu-link mainMenu-link--flag zh-cn <%= page.lang === 'zh-cn' ? 'on' : '' %>" href="/cn/" itemprop="url" onclick="handleClick()"></a>
              <a id="js-flag-in" class="mainMenu-link mainMenu-link--flag hi-in <%= page.lang === 'hi-in' ? 'on' : '' %>" href="/in/" itemprop="url" onclick="handleClick()"></a>            </li>
            <script>
              var rpl = (href) => {
                var url = href;
                var items = [
                  `${window.location.origin}`,
                  `/en`,
                  `/cn`,
                  `/in`,
                  `//`
                ];

                items.map(item => {
                  url = url.replace(item, '')
                })

                return url;
              }
              document.getElementById("js-flag-pt").addEventListener("click", function(evt){
                evt.preventDefault()
                window.location.href = rpl(window.location.href)
              });
              document.getElementById("js-flag-en").addEventListener("click", function(evt){
                evt.preventDefault()
                window.location.href = `/en${rpl(window.location.href)}`
              });
              document.getElementById("js-flag-cn").addEventListener("click", function(evt){
                evt.preventDefault()
                window.location.href = `/cn${rpl(window.location.href)}`
              });
              document.getElementById("js-flag-in").addEventListener("click", function(evt){
                evt.preventDefault()
                window.location.href = `/in${rpl(window.location.href)}`
              });
            </script>-->
            <%# } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
