<%
const getTexts = name => {
  switch(name) {
    case 'profile':
      return {
        title: 'Outras preferências'
      }
    default:
      return {
        title: 'Outras categorias'
      }
  }
};
const content = getTexts(projectName);
%>
<div class="categories">
  <p class="text"><%- content.title %>:</p>
  <ul class="categories-list">
  <% site.categories.sort('name').map(category => { %>
    <%
      const icon = category.name.replace(/ /g, '').toLowerCase();
      const name = category.name.toLowerCase();
      const removeName = projectName === 'profile' ? 'dailylog' : '';
      if (page.category !== category.name && !category.parent && name !== removeName) {
        const link = replaceLink ? replaceLink : false;
    %>
      <li class="categories-item">
        <a href="<%- link ? url_for(category.path.replace(link.before, link.after)) : url_for(category.path) %>" class="categories-link <%- url_for(category.path).split('/')[3] %>">
          <svg width="16" height="16"><use xlink:href="#<%- icon %>" /></svg>
          <%- name %>
          <span class="categories-count"><%= category.posts.length %></span>
        </a>
      </li>
    <% } %>
  <% }) %>
  </ul>
</div>
