<%
const googleads1 = `../partials/googleads/${projectName}/2-categories-1.ejs`;

const getTexts = name => {
  switch(name) {
    case 'following':
      return {
        title: 'Categorias',
        categoriesTitle: 'Confira os items segmentados pelas suas categorias',
        slug: 'resultado'
      }
    case 'github':
      return {
        title: 'Projetos',
        categoriesTitle: 'Confira os projetos segmentados pelas suas organizações',
        slug: 'projeto'
      }
    default:
      return {
        title: 'Artigos',
        categoriesTitle: 'Confira os artigos segmentados pelas suas categorias',
        slug: 'artigo'
      }
  }
};
const content = getTexts(projectName);
%>

<h1 class="page-title"><%- content.title %></h1>

<div class="categories">
  <p class="text"><%- content.categoriesTitle %></p>
  <ul class="categories-list">
  <% site.categories.sort('name').map(category => {
    const icon = category.name.replace(/ /g, '').toLowerCase();
    const name = category.name.toLowerCase();
  %>
    <% if (!category.parent) { %>
      <li class="categories-item">
        <a class="categories-link js-scroll" href="#" data-target="js-category-<%- url_for(category.path).split('/')[3] %>">
          <svg width="16" height="16"><use xlink:href="#<%- icon %>" /></svg>
          &nbsp; <%- name %>
          <span class="categories-count"><%= category.posts.length %></span>
        </a>
      </li>
    <% } %>
  <% }) %>
  </ul>
</div>

<%- include(googleads1) %>

<div>
  <% if (site.categories.length) { %>
    <% site.categories.sort('name').each(function(category){ %>
      <% if (!category.parent) { %>
      <div class="js-load_more-container js-category-<%- url_for(category.path).split('/')[3] %>">
        <h2 class="page-subtitle--section">
          <a class="page-subtitle--section-link" href="<%- url_for(category.path) %>">
            <%= category.name %> <span class="articles-count">
            - <%= category.posts.length %> <%- content.slug %><% if (category.posts.length > 1) { %>s<% } %></span>
          </a>
        </h2>
        <div class="nc-cards">
          <% category.posts.sort('date', -1).each(function(post, index){ %>
            <% if (post.categories.data[0]._id == category._id){ %>
              <%- include('../partials/body/card.ejs', {post, index: true, projectName, hasTag}) %>
            <% } %>
            <% if (post.categories.data[1] && post.categories.data[1]._id == category._id){ %>
              <%- include('../partials/body/card.ejs', {post, index: true, projectName, hasTag}) %>
            <% } %>
          <% }) %>
        </div>
        <% if (category.posts.length > 9) { %>
        <p><button class="button-load_more js-load_more" type="button">Carregar mais</button></p>
        <% } %>
      </div>
      <% } %>
    <% }); %>
  <% } %>
</div>
