<%#
include('../../../node_modules/@hdquarters/theme/source/layout/structure.ejs', { projectName: 'hemersonvianna', slug: 'hemerson-vianna' highlight: [], hasBreadcrumb: hasBreadcrumb, hasSvg: true, isPost: is_post() })
%>
<!DOCTYPE html>
<html class="no-js" lang="pt-BR" xml:lang="pt-BR" itemscope itemtype="https://schema.org/Organization">
  <%- include('../partials/head/structure', { projectName }) %>
  <body class="<%- projectName %> page-<%- is_home() ? 'home' : page.name %>">
    <%- include('../partials/svg/blogs.ejs') %>
    <%- include('../partials/svg/social.ejs') %>
    <%
      const svgPath = `../partials/svg/${projectName}.ejs`;
      if (hasSvg) {
    %>
    <%- include(svgPath) %>
    <% } %>
    <%- include('../partials/body/search.ejs') %>
    <%- include('../partials/body/google-analytics.ejs') %>
    <div class="wrapper">
      <%- include('../partials/body/header.ejs', {projectName}) %>
      <% if (is_home()) { %>
        <%- include('../partials/body/banner.ejs', { projectName }) %>
        <% if(highlight) { %>
        <%- include('../partials/body/highlight.ejs', { page, items: highlight, projectName }) %>
        <% } %>
      <% } %>
      <div class="content">
        <div class="container">
          <%- include('../partials/body/breadcrumb.ejs', { page, hasBreadcrumb, slug, projectName }) %>
          <div class="body">
          <%- body %>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/body/snackbar.ejs') %>
    <%- include('../partials/service-worker.ejs') %>
    <% if (isPost){ %>
      <%- include('../partials/body/disqus.ejs') %>
    <% } %>
    <%
      let name = projectName;

      if(projectName === 'design') {
        name = 'arte-e-design';
      }

      if(projectName === 'profile') {
        name = 'perfil';
      }

      if(projectName === 'following') {
        name = 'seguindo';
      }
    %>
    <script src="/<%- name %>/assets/js/site/scripts.js?v22.0"></script>
  </body>
</html>
